<h1>Home Page</h1>
<header>
        <h1>Grease Monkeys</h1>
        <a href="/login">Sign in</a>
        
    </header>
    <div class="vehicle-input-container">
            <form id="vehicleForm">
                <select id="year" required>
                    <option value="">Select Year</option>
                </select>
                <select id="make" required>
                    <option value="">Select Make</option>
                </select>
                <select id="model" required>
                    <option value="">Select Model</option>
                </select>
                <select id="trim" required>
                    <option value="">Select Trim</option>
                </select>
                <button type="submit">Submit</button>
            </form>
        </div>
        <script src="/js/carsqueryapi.js"></script>


    {{!-- <div class="container">
        <aside>
            <nav>
                <ul id="vehicleList">
                    <li>Vehicle List</li>
                    <li class="addVehicle">Add Vehicle</li>
                </ul>
            </nav>
        </aside>
        <main>
            <section id="vehicleDetails">
                <h2>Vehicle Name</h2>
                <p>Vehicle Status / info</p>
            </section>
            <section id="vehicleHistory">
                <h2>Vehicle History</h2>
            </section>
        </main>
    </div> --}}
