<h1>Maintinance Page</h1>
<header>
        <h1>Grease Monkeys</h1>
        <a href="/logout">Logout</a>
        <link rel="stylesheet" href="/css/homepage.css">
    </header>
    <div class="vehicle-input-container">
            <form id="vehicleForm">
                <select id="year" required>
                    <option value="">Select Year</option>
                </select>
                <select id="make" required>
                    <option value="">Select Make</option>
                </select>
                <select id="model" required>
                    <option value="">Select Model</option>
                </select>
                <select id="trim" required>
                    <option value="">Select Trim</option>
                </select>
                <button type="submit">Submit</button>
            </form>
        </div>
        <script src="/js/carsqueryapi.js"></script>